.banner {
  padding: 10px 0;
}

.banner > img {
  width: 100%;
  border-radius: 10px;
 
}

.banner > h2 {
    position: absolute;
    top:11%;
    color: white;
    width:50%;
    font-size: 1.2em;
    padding-left:15px;
    font-weight: lighter;
    text-align: left;
}
  