.dropdown, .test, .test2, .test3, .test4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 5px;
  max-height: 40px;
  margin-bottom :15px;


}
.test--onclick{
  max-height:175px;
}
.dropdown-title {
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 5px;
}

.dropdown-texte {
  background-color: #f6f6f6;
  border-radius: 0px 0px 5px 5px;
  max-height: 150px;
  margin: 0;
  padding: 15px 0px 40px 10px;
  margin-top: -0.5px;
  color: #ff6060;
  font-weight: 400;
  visibility: hidden;
  width:100%;
 
}
.dropdown-texte--onclick{
    visibility: visible;
   
}
.dropdown-arrow_down{
  padding-right: 5px;
}

.dropdown-arrow_down--onclick{
    transform: rotate(180deg);
    padding-left: 5px;
}