.footer {
  background-color: black;
  height: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 160px -15px -30px -15px;
}

.footer > img {
  filter: brightness(0) invert(1);
  width: 20%;
}
.footer > p {
  color: white;
  font-size: 0.8em;
  padding-top: 15px;
}
@media all and (min-width: 880px) {
  .footer > img {
    width: 10%;
  }
  .footer > p {
    font-size: 1.3em;
    padding-top: 25px;
  }
  .footer {
    padding-top: 35px;
  }
}
