.footer {
  background-color: black;
  height: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 160px -15px -30px -15px;
}

.footer > img {
  filter: brightness(0) invert(1);
  width: 20%;
}
.footer > p {
  color: white;
  font-size: 0.8em;
}
