.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 45%;
}
.nav-links{
    display: flex;
    width:150px;
    justify-content: space-between;
    
}
.nav-links >a{
    color:#FF6060;
    text-decoration: none;
}