.property-heading > h1 {
  color: #ff6060;
  font-weight: 500;
}

.property-heading > h2 {
  font-size: 1em;
  text-align: left;
  font-weight: 500;
  margin: 0;
}
.property-raiting-host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:15px 0;
  
}
.dropdown-description,
.dropdown-equipments{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 5px;
  max-height: 40px;
  margin-bottom: 15px;
}
.dropdown-container--onclick {
  max-height: 190px;
}
.dropdown-texte.dropdown-texte--onclick >h3{
  font-size: 0.9em;
  font-weight: 400;
  margin:0;
  padding-bottom: 5px;
}

@media all and (min-width: 880px) {
  .property-heading > h1{
    font-size: 2em;
    margin-bottom:10px;
  }
  .property-heading > h2{
    font-size: 0.8em;
  }
  .property-raiting-host {
    flex-direction: column-reverse;
    align-items: end;
    margin:0;
    justify-content: unset;
    height:128px;
  }
  .wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:20px;
  }
}