.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 45%;
}
.nav-links {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.nav-links__underline {
  color: #ff6060;
  text-decoration: underline;
  text-decoration-color: #ff6060;
}
.nav-links__without-underline{
  text-decoration: none;
  color: #ff6060;
}

@media all and (min-width: 880px) {
  .nav-logo {
    width: 75%;
  }
  .nav-links > a {
    font-size: 1.5em;
  }
  .nav-links {
    width: 230px;
  }
}
